In [7]:
import pandas as pd

In [9]:
postings= pd.read_csv('/Users/morgan/Desktop/SEIS 763 ML/archive/postings.csv',header=0)

In [10]:
postings.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [13]:
# a quick look at num columns
postings.describe()

,job_id,max_salary,company_id,views,med_salary,min_salary,applies,original_listed_time,remote_allowed,expiry,closed_time,listed_time,sponsored,normalized_salary,zip_code,fips
count,1.238490e+05,2.979300e+04,1.221320e+05,122160.000000,6280.000000,2.979300e+04,23320.000000,1.238490e+05,15246.0,1.238490e+05,1.073000e+03,1.238490e+05,123849.0,3.607300e+04,102977.000000,96434.000000
mean,3.896402e+09,9.193942e+04,1.220401e+07,14.618247,22015.619876,6.491085e+04,10.591981,1.713152e+12,1.0,1.716213e+12,1.712928e+12,1.713204e+12,0.0,2.053270e+05,50400.491887,28713.879887
std,8.404355e+07,7.011101e+05,2.554143e+07,85.903598,52255.873846,4.959738e+05,29.047395,4.848209e+08,0.0,2.321394e+09,3.622893e+08,3.989122e+08,0.0,5.097627e+06,30252.232515,16015.929825
min,9.217160e+05,1.000000e+00,1.009000e+03,1.000000,0.000000,1.000000e+00,1.000000,1.701811e+12,1.0,1.712903e+12,1.712346e+12,1.711317e+12,0.0,0.000000e+00,1001.000000,1003.000000
25%,3.894587e+09,4.828000e+01,1.435200e+04,3.000000,18.940000,3.700000e+01,1.000000,1.712863e+12,1.0,1.715481e+12,1.712670e+12,1.712886e+12,0.0,5.200000e+04,24112.000000,13121.000000
50%,3.901998e+09,8.000000e+04,2.269650e+05,4.000000,25.500000,6.000000e+04,3.000000,1.713395e+12,1.0,1.716042e+12,1.712670e+12,1.713408e+12,0.0,8.150000e+04,48059.000000,29183.000000
75%,3.904707e+09,1.400000e+05,8.047188e+06,8.000000,2510.500000,1.000000e+05,8.000000,1.713478e+12,1.0,1.716088e+12,1.713283e+12,1.713484e+12,0.0,1.250000e+05,78201.000000,42077.000000
max,3.906267e+09,1.200000e+08,1.034730e+08,9975.000000,750000.000000,8.500000e+07,967.000000,1.713573e+12,1.0,1.729125e+12,1.713562e+12,1.713573e+12,0.0,5.356000e+08,99901.000000,56045.000000

In [15]:
postings.columns

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'med_salary',
       'min_salary', 'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [17]:
mn_posting = postings[(postings['zip_code'] >= 55001) & (postings['zip_code'] <= 56763)]

In [19]:
# companies that have jobs in minnesota
mn_companies = mn_posting['company_id'].unique()
company_job_mn = company_full[company_full['company_id'].isin(mn_companies)]

NameError: name 'company_full' is not defined

In [21]:
company_job_mn

NameError: name 'company_job_mn' is not defined

In [27]:
company= pd.read_csv('/Users/morgan/Desktop/SEIS 763 ML/archive/companies/companies.csv',header=0)
industry= pd.read_csv('/Users/morgan/Desktop/SEIS 763 ML/archive/companies/company_industries.csv',header=0)
specs= pd.read_csv('/Users/morgan/Desktop/SEIS 763 ML/archive/companies/company_specialities.csv',header=0)
size= pd.read_csv('/Users/morgan/Desktop/SEIS 763 ML/archive/companies/employee_counts.csv',header=0)

In [29]:
company_full = pd.merge(company, industry, how='outer', on='company_id')

In [31]:
company_full

,company_id,name,description,company_size,state,country,city,zip_code,address,url,industry
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm,IT Services and IT Consulting
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare,Hospitals and Health Care
2,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...,IT Services and IT Consulting
3,1028,Oracle,We’re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle,IT Services and IT Consulting
4,1033,Accenture,Accenture is a leading global professional ser...,7.0,0,IE,Dublin 2,0,Grand Canal Harbour,https://www.linkedin.com/company/accenture,Business Consulting and Services
...,...,...,...,...,...,...,...,...,...,...,...
24478,103463217,JRC Services,NaN,2.0,0,0,0,0,0,https://www.linkedin.com/company/jrcservices,Facilities Services
24479,103466352,Centent Consulting LLC,Centent Consulting LLC is a reputable human re...,NaN,0,0,0,0,0,https://www.linkedin.com/company/centent-consu...,Business Consulting and Services
24480,103467540,"Kings and Queens Productions, LLC",We are a small but mighty collection of thinke...,NaN,0,0,0,0,0,https://www.linkedin.com/company/kings-and-que...,Broadcast Media Production and Distribution
24481,103468936,WebUnite,Our mission at WebUnite is to offer experience...,NaN,Pennsylvania,US,Southampton,18966,720 2nd Street Pike,https://www.linkedin.com/company/webunite,Business Consulting and Services
24482,103472979,BlackVe,NaN,1.0,0,0,0,0,0,https://www.linkedin.com/company/blackve,Defense and Space Manufacturing

In [37]:
#
size=size.loc[size.groupby('company_id')['time_recorded'].idxmax()]
size.head()

       company_id  employee_count  follower_count  time_recorded
30056        1009          311223        16314846     1713501255
35604        1016           57001         2196350     1713569031
21766        1025           79559         3588329     1713453258
32109        1028          191374         9497909     1713540073
35631        1033          565191        11890321     1713569451

In [39]:
specs=specs.groupby('company_id', as_index=False).agg({
    'speciality': ', '.join
})

In [41]:
company_full = pd.merge(company_full, specs, how='outer', on='company_id')
company_full = pd.merge(company_full, size, how='outer', on='company_id')

In [43]:
#rename columns to distinguish between job location and headquarter location 
company_full=company_full.rename(columns={'state':'headquarter state','city':'headquarter city','zip_code':'headquarter zipcode','address':'headquarter addr'})

In [45]:
#filter out all minnesota companies (hadquarter in minnesota) 
mn_comp = company_full[(company_full['headquarter state'] == 'Minnesota') | (company_full['headquarter state'] == 'MN')]

In [47]:
mn_comp

,company_id,name,description,company_size,headquarter state,country,headquarter city,headquarter zipcode,headquarter addr,url,industry,speciality,employee_count,follower_count,time_recorded
147,1841,Medtronic,A global healthcare technology leader — boldly...,7.0,MN,US,Minneapolis,55432-5604,710 Medtronic Parkway,https://www.linkedin.com/company/medtronic,Medical Equipment Manufacturing,NaN,92649,1907472,1713554357
150,1864,3M,3M touches virtually every part of your life. ...,7.0,MN,US,St Paul,55144,3M Center,https://www.linkedin.com/company/3m,Industrial Machinery Manufacturing,"Innovation, Collaboration, Global, Diverse Car...",69608,2153397,1713453772
192,2127,Best Buy,"At Best Buy, our purpose is to enrich lives th...",7.0,Minnesota,US,Richfield,55423-3645,7601 Penn Ave South,https://www.linkedin.com/company/best-buy,Retail,"Technology, Retail, Accounting, E-Commerce",69018,470114,1713462381
258,2532,U.S. Bank,"At U.S. Bank, we help millions of clients achi...",7.0,MN,US,Minneapolis,55402,800 Nicollet Mall,https://www.linkedin.com/company/us-bank,Banking,"Asset-based lending, Commercial lending, Custo...",77486,463850,1713563603
288,2678,Cargill,Cargill is a family company committed to provi...,7.0,Minnesota,US,Wayzata,55391,15407 McGinty Rd W,https://www.linkedin.com/company/cargill,Food and Beverage Manufacturing,"Food ingredients, agricultural, risk managemen...",78274,2692489,1713539135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23711,97409175,"The ABK Group, LLC","The ABK Group, LLC: Your Success, Our Collabor...",NaN,Minnesota,US,Lakeville,55044,0,https://www.linkedin.com/company/the-abk-group...,Staffing and Recruiting,"Staffing, Direct Hire, Contingent Labor, Contr...",4,7974,1713279906
23918,99095811,NMDP,"Introducing NMDP, formerly known as the Nation...",5.0,Minnesota,US,Minneapolis,55401,500 N 5th St,https://www.linkedin.com/company/nmdp,Non-profit Organizations,"blood stem cell donation, bone marrow donation...",1983,38155,1712635229
23937,99161480,"Lift Bridge Lodge, Ascend Hotel Collection","Welcome to the Lift Bridge Lodge, Ascend Hotel...",1.0,Minnesota,US,Duluth,55802,408 Canal Park Dr,https://www.linkedin.com/company/lift-bridge-l...,Hospitality,NaN,1,46,1712895054
24230,101566602,Housing and Redevelopment Authority of Itasca ...,Mission: “Provide affordable housing by devel...,1.0,Minnesota,US,Grand Rapids,55744,1115 NW 4th St,https://www.linkedin.com/company/housing-and-r...,Government Administration,NaN,5,9,1713280231
24412,102839269,Millboard Inc.,About\n\nLive. Life. Outside.\n\nWe're all abo...,1.0,Minnesota,US,St Paul,55120,1300 Mendota Heights Rd,https://www.linkedin.com/company/millboard-inc,Wholesale Building Materials,"Decking, Siding, Cladding, Docks",0,2,1712647535

In [49]:
mn_comp['headquarter zipcode'] = pd.to_numeric(mn_comp['headquarter zipcode'], errors='coerce')

/var/folders/fc/6wrgw2ln79dfcn7bb8qjd8v40000gn/T/ipykernel_6633/1239110742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mn_comp['headquarter zipcode'] = pd.to_numeric(mn_comp['headquarter zipcode'], errors='coerce')

In [51]:
small_mid=mn_comp[(mn_comp['company_size']<4)& ~(mn_comp['headquarter zipcode']>55500)]

In [53]:
small_mid

,company_id,name,description,company_size,headquarter state,country,headquarter city,headquarter zipcode,headquarter addr,url,industry,speciality,employee_count,follower_count,time_recorded
1635,11891,ITR Group,"At ITR Group, we match ideal IT consultants wi...",2.0,MN,US,Mendota Heights,55120.0,2520 Lexington Ave S Ste 500,https://www.linkedin.com/company/itr-group,IT Services and IT Consulting,"Consulting Services, Staffing, IT Services",95,35878,1712670976
1825,13908,Apex IT,"Since 1997, Apex IT has helped public sector, ...",2.0,MN,US,Cottage Grove,55016.0,7200 80th Street South,https://www.linkedin.com/company/apex-it,IT Services and IT Consulting,"PeopleSoft, Oracle, Eloqua, CRM, ERP, HR Help ...",292,11618,1713554621
1963,15557,Ambient Consulting,We create custom solutions utilizing our world...,3.0,Minnesota,US,Minnetonka,55305.0,110 Cheshire Ln,https://www.linkedin.com/company/ambient-consu...,IT Services and IT Consulting,"Application Development and Management, Enterp...",97,19479,1713294166
2351,20603,Solution Design Group,Solution Design Group (SDG) is an employee-own...,3.0,MN,US,Golden Valley,55427.0,"7500 Olson Memorial Highway, Suite 250",https://www.linkedin.com/company/solution-desi...,IT Services and IT Consulting,"Project Delivery, Technology Solutions, Produc...",237,3706,1713475141
2378,20924,Merchant & Gould P.C.,An intellectual property law firm at the leadi...,3.0,Minnesota,US,Minneapolis,55402.0,150 South Fifth Street,https://www.linkedin.com/company/merchantgould,Law Practice,"Intellectual Property, Patents, Copyrights, Tr...",268,2194,1712861202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23146,91366916,Rainbow Seating LLC,We are a furniture manufacturer and global sou...,2.0,Minnesota,US,Minneapolis,55431.0,9604 James Ave S,https://www.linkedin.com/company/rainbow-seati...,Hospitality,"furniture, manufacturing",5,107,1713473687
23431,94813135,eDiscovery AI,Introducing eDiscovery AI - The next frontier ...,1.0,Minnesota,US,Bloomington,55435.0,7760 France Ave S,https://www.linkedin.com/company/ediscovery-ai,Software Development,"ediscovery, ai, artificial intelligence, docum...",11,1195,1713523823
23449,95037085,Early Childhood Academy,The Early Childhood Academy will provide high-...,2.0,Minnesota,US,Red Wing,55066.0,469 12th St,https://www.linkedin.com/company/early-childho...,Education Administration Programs,NaN,8,51,1713563843
23662,96926130,Phaedon,"At Phaedon, we are passionate about sparking p...",3.0,MN,US,Minneapolis,55402.0,420 N 5th Street; STE 1000,https://www.linkedin.com/company/phaedon,Advertising Services,"Loyalty marketing, Loyalty technology platform...",183,4612,1712863329
24412,102839269,Millboard Inc.,About\n\nLive. Life. Outside.\n\nWe're all abo...,1.0,Minnesota,US,St Paul,55120.0,1300 Mendota Heights Rd,https://www.linkedin.com/company/millboard-inc,Wholesale Building Materials,"Decking, Siding, Cladding, Docks",0,2,1712647535

In [57]:
#with pd.ExcelWriter('mn_companies.xlsx', engine='openpyxl', mode='a') as writer:
 #   small_mid.to_excel(writer, sheet_name='mid_small companies', index=False)

In [59]:
company_full.columns

Index(['company_id', 'name', 'description', 'company_size',
       'headquarter state', 'country', 'headquarter city',
       'headquarter zipcode', 'headquarter addr', 'url', 'industry',
       'speciality', 'employee_count', 'follower_count', 'time_recorded'],
      dtype='object')